example-flows/force-app/main/default/flows/Missing_Null_Handler_Fixed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>review_error</name>
        <label>review error</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Assign_New_Account_Name</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>something_went_wrong</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>something_went_wrong</name>
        <label>something went wrong</label>
        <locationX>792</locationX>
        <locationY>242</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_New_Account_Name</name>
        <label>Assign New Account Name</label>
        <locationX>176</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>GetAnAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ifNotNull</name>
        <label>ifNotNull</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>review_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAnAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Account_Name</targetReference>
            </connector>
            <label>notNull</label>
        </rules>
    </decisions>
    <description>This flow demonstrates how to resolve a violation of the rule &quot;Missing Null Handler&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Fix: Missing null handlers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fix: Missing Null Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAnAccount</name>
        <label>GetAnAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifNotNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>something_went_wrong</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acme</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAnAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
