example-flows/force-app/main/default/flows/Missing_Error_Handler_Fixed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>dosomethingelse</name>
        <label>dosomethingelse</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>log_call</name>
        <label>log call</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <faultConnector>
            <targetReference>dosomethingelse</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>This flow demonstrates how to resolve a violation of the rule &quot;Missing Error
        Handler&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Fix: Missing Error Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fix: Missing Error Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>log_call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
</Flow>