example-flows/force-app/main/default/flows/OCR_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <description>OCR Flow</description>
    <environments>Default</environments>
    <interviewLabel>OCR Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OCR Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>OCR</name>
        <label>OCR</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>OCR_Mapping</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OCR_Mapping</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <description>OCR Mapping</description>
        <name>OCR_Mapping</name>
        <label>OCR Mapping</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>OCR</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>OpportunityContactRole</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>OpportunityId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.ContactId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Role</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Decision Maker</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>