tests/xmlfiles/Cyclomatic_Complexity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createtesttask</name>
        <label>createtesttask</label>
        <locationX>2822</locationX>
        <locationY>434</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignvalue1</name>
        <label>assignvalue1</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue10</name>
        <label>assignvalue10</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue11</name>
        <label>assignvalue11</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue12</name>
        <label>assignvalue12</label>
        <locationX>5594</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue2</name>
        <label>assignvalue2</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue3</name>
        <label>assignvalue3</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue4</name>
        <label>assignvalue4</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue5</name>
        <label>assignvalue5</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue6</name>
        <label>assignvalue6</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue7</name>
        <label>assignvalue7</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue8</name>
        <label>assignvalue8</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignvalue9</name>
        <label>assignvalue9</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtesttask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Example decision above default threshold</description>
        <name>DecideOutcome</name>
        <label>DecideOutcome</label>
        <locationX>2822</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>assignvalue12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue1</targetReference>
            </connector>
            <label>outcome1</label>
        </rules>
        <rules>
            <name>outcome2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>b</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue2</targetReference>
            </connector>
            <label>outcome2</label>
        </rules>
        <rules>
            <name>outcome3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue3</targetReference>
            </connector>
            <label>outcome3</label>
        </rules>
        <rules>
            <name>outcome4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>d</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue4</targetReference>
            </connector>
            <label>outcome4</label>
        </rules>
        <rules>
            <name>outcome5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>e</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue5</targetReference>
            </connector>
            <label>outcome5</label>
        </rules>
        <rules>
            <name>outcome6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>f</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue6</targetReference>
            </connector>
            <label>outcome6</label>
        </rules>
        <rules>
            <name>outcome7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue7</targetReference>
            </connector>
            <label>outcome7</label>
        </rules>
        <rules>
            <name>outcome8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>h</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue8</targetReference>
            </connector>
            <label>outcome8</label>
        </rules>
        <rules>
            <name>outcome9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>i</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue9</targetReference>
            </connector>
            <label>outcome9</label>
        </rules>
        <rules>
            <name>outcome10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>j</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue10</targetReference>
            </connector>
            <label>outcome10</label>
        </rules>
        <rules>
            <name>outcome11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>k</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalue11</targetReference>
            </connector>
            <label>outcome11</label>
        </rules>
        <rules>
            <name>outcome12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome12</label>
        </rules>
        <rules>
            <name>outcome13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome13</label>
        </rules>
        <rules>
            <name>outcome14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome14</label>
        </rules>
        <rules>
            <name>outcome15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome15</label>
        </rules>
        <rules>
            <name>outcome16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome16</label>
        </rules>
        <rules>
            <name>outcome17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome17</label>
        </rules>
        <rules>
            <name>outcome18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome18</label>
        </rules>
        <rules>
            <name>outcome19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>19.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome19</label>
        </rules>
        <rules>
            <name>outcome20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome20</label>
        </rules>
        <rules>
            <name>outcome21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome21</label>
        </rules>
        <rules>
            <name>outcome22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>22.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome22</label>
        </rules>
        <rules>
            <name>outcome23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>23.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome23</label>
        </rules>
        <rules>
            <name>outcome24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome24</label>
        </rules>
        <rules>
            <name>outcome25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome25</label>
        </rules>
        <rules>
            <name>outcome26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>26.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtesttask</targetReference>
            </connector>
            <label>outcome26</label>
        </rules>
    </decisions>
    <description>This flow demonstrates a violation of the rule &apos;CyclomaticComplexity&apos;</description>
    <environments>Default</environments>
    <interviewLabel>Cyclomatic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cyclomatic Complexity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecideOutcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>testvar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
